{% extends "base.html" %}
{% load i18n static %}
{% block title %}
{% endblock %}
{% block menu_options %}
{% endblock %}
{% block content %}
    {% load static %}
    <script type="text/javascript" src="{% static "decide/js/Chart.js"%}"></script>
    <h4>{{ voting.id }} - {{ voting.name }}</h4>
        <h5>{% trans 'Results: ' %}</h5>
        <ul>
            {% for option in voting.postproc %}
                <li>{{option.option}}: {{option.postproc}} <span>({{option.votes}})</span></li>
            {% endfor %}
        </ul>
    <div style="width: 50%">
        <canvas id="resultados" width="100%" height="50%"></canvas>
    </div>

        {% regroup voting.postproc by team as teams %}
    {% if voting.type == TEAM %}
    <!--Pintado de gráfica para Teams-->
    <script>

    var randomColorGenerator = function () {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    };
    
    var ctx = document.getElementById("resultados").getContext("2d");
    var myChart = new Chart(ctx, {
        type:"bar",
        data: {
            labels:[{% for t in teams %}{% if forloop.first %}"{{t.grouper}}"{% else %},"{{t.grouper}}"{% endif %}{% endfor %}],
            datasets: [{% for t in teams %}{% for option in t.list %}{label: "{{ option.option }}",backgroundColor: randomColorGenerator(),data:[{% for team in teams %}{% if team.grouper == option.team %}{{option.votes}},{% else %}0,{% endif %}{% endfor %}]},{% endfor %}{% endfor %}]
        },

        options:{
            scales:{
                yAxes:[{
                    stacked:true
                }],
                xAxes:[{
                    stacked:true
                }]
            }
        }
    });
    </script>
    {% endif %}

    {% if voting.type == IDENTITY %}
    <!--Pintado de gráfica para Identity-->
    <script>
        var ctx = document.getElementById("resultados");
        
        function getRandomColor() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ", 0.5)";
        }
        var colors = [];
        {% for option in voting.postproc %}
        colors.push(getRandomColor());
        {% endfor %}
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for option in voting.postproc %}{% if forloop.first %}"{{option.option}}"{% else %},"{{option.option}}"{% endif %}{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data: [{% for option in voting.postproc %}{% if forloop.first %}{{option.votes}}{% else %},{{option.votes}}{% endif %}{% endfor %}],
                    backgroundColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
    {% endif %}
    <a href="pdf/" target="_blank">Descargar los resultado en formato .pdf</a>
    <br/>
    <a href="csv/" target="_blank">Descargar los resultado en formato .csv</a>
    
{% endblock %}

