{% extends "base.html" %}
{% load i18n static %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="{% static "decide/css/visualizer/ended.css"%}"/>
{% endblock %}
{% block content %}
    {% load static %}
    {% load visualizertags %}
    <script type="text/javascript" src="{% static "decide/js/Chart.js"%}"></script>
    <div id="cabecera-votacion">
        <h4>{{ voting.name }}</h4>
        <h5>{{ voting.desc }}</h5>
        <h5>{% trans "Results: " %}</h5>
    </div>
 
    <!-- Nuevo mostrado de resultados en funcion de más de una pregunta -->
    {% if voting.postproc.type != 1 %}
        <!-- Para el resto de votaciones -->
        <ul>
            {% for question in voting.questions %}
                <p>{{question.number}} - {{question.desc}}</p>
                {% with voting.postproc.questions|get_value:question.number as values %}
                    {% for value in values.options %}
                        <li><p>{{value.option}} - ({{value.votes}})</p></li>
                    {% endfor %}
                {% endwith %}

                
            {% endfor %}
        </ul>
       
    {% else %}
        <!-- Votación para Weights-->
        <ul>
            {% for question in voting.questions %}
                <p>{{question.number}} - {{question.desc}}</p>
                {% with voting.postproc.questions|get_value:question.number as values %}
                    {% for value in values.options %}
                        <li><p>{{value.option}} - Total: ({{value.postproc}}) - Número de votos: ({{value.votes}})</p></li>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
   
    {% for q in voting.questions %}
        <p>{{q.desc}}</p>
        <div style="width: 50%">
            <canvas id="resultados{{q.number}}" width="100%" height="50%"></canvas>
        </div>
    {% endfor %}

 
    {% with voting.postproc.questions.0.options.0 as firstVote %}

    {% if voting.postproc.type == 4 %}

    
    <!--Pintado de gráfica para Teams-->
    {% for q in voting.questions %}
        {% with voting.postproc.questions|get_value:q.number as values %}
            {% regroup values.options by team as teams %}
            <script>

                function getRandomColor() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    return "rgb(" + r + "," + g + "," + b + ", 0.5)";
                }
                var colors = [];
                {% for option in values.options %}
                    colors.push(getRandomColor());
                {% endfor %}
                
                var ctx = document.getElementById("resultados{{q.number}}").getContext("2d");
                var myChart = new Chart(ctx, {
                    type:"bar",
                    data: {
                        labels:[{% for t in teams %}{% if forloop.first %}"{{t.grouper}}"{% else %},"{{t.grouper}}"{% endif %}{% endfor %}],
                        datasets: [{% for t in teams %}{% for option in t.list %}{label: "{{ option.option }}",backgroundColor: colors,data:[{% for team in teams %}{% if team.grouper == option.team %}{{option.votes}},{% else %}0,{% endif %}{% endfor %}]},{% endfor %}{% endfor %}]
                    },
            
                    options:{
                        scales:{
                            yAxes:[{
                                stacked:true
                            }],
                            xAxes:[{
                                stacked:true
                            }]
                        }
                    }
                });
                </script>
        {% endwith %}
    {% endfor %}
        
   
    
    {% elif voting.postproc.type == 3 %}
        <!--TODO Pintado de grafica para Parity -->

    {% elif voting.postproc.type == 0 %}

    <!--Pintado de gráfica para Identity-->
    {% for q in voting.questions %}
        {% with voting.postproc.questions|get_value:q.number as values %}
            <script>
                var ctx = document.getElementById("resultados{{q.number}}");
        
        
                function getRandomColor() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    return "rgb(" + r + "," + g + "," + b + ", 0.5)";
                }
                var colors = [];
        
                {% for option in values.options %}                
                    colors.push(getRandomColor());
                    
                {% endfor %}
        
                
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for option in values.options %}{% if forloop.first %}"{{option.option}}"{% else %},"{{option.option}}"{% endif %}{% endfor %}],
                        datasets: [{
                            label: '# of Votes',
                            data: [{% for option in values.options %}{% if forloop.first %}{{option.votes}}{% else %},{{option.votes}}{% endif %}{% endfor %}],
                            backgroundColor: colors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                
            </script>

        {% endwith %}
    {% endfor %}

    {% elif voting.postproc.type == 1 %}

        <!--Pintado de gráfica para Weight-->

        {% for q in voting.questions %}
            {% with voting.postproc.questions|get_value:q.number as values %}
                <script>
                    var ctx = document.getElementById("resultados{{q.number}}");
        
        
                    function getRandomColor() {
                        var r = Math.floor(Math.random() * 255);
                        var g = Math.floor(Math.random() * 255);
                        var b = Math.floor(Math.random() * 255);
                        return "rgb(" + r + "," + g + "," + b + ", 0.5)";
                    }
                    
                    var colors = [];
        
                    colors.push(getRandomColor());
                    colors.push(getRandomColor());
        
                
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for option in values.options %}{% if forloop.first %}"{{option.option}}"{% else %},"{{option.option}}"{% endif %}{% endfor %}],
                        datasets: [{
                            label: 'Total',
                            data: [{% for option in values.options %}{% if forloop.first %}{{option.postproc}}{% else %},{{option.postproc}}{% endif %}{% endfor %}],
                            backgroundColor: colors[0],
                            borderWidth: 1
                        }, {
                            label: 'Número de votos',
                            data: [{% for option in values.options %}{% if forloop.first %}{{option.votes}}{% else %},{{option.votes}}{% endif %}{% endfor %}],
                            backgroundColor: colors[1],
                            borderWidth: 1
                        }]},
                    
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        autoSkip:false
                                    }
                                }]
                            }
                        }
                    });
                
                </script>

            {% endwith %}
        {% endfor %}

    {% else %}
    
    <!--Pintado de grafica para escaños-->
    {% for q in voting.questions %}
        {% with voting.postproc.questions|get_value:q.number as values %}
        
        <script>

            function getRandomColor() {
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return "rgb(" + r + "," + g + "," + b + ", 0.5)";
            }
        
            var colors = [];
            {% for option in values.options %}
               colors.push(getRandomColor());
            {% endfor %}
        
            var ctx = document.getElementById("resultados{{q.number}}");
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data:  {
                labels: [{% for option in values.options %}{% if forloop.first %}"{{option.option}}"{% else %},"{{option.option}}"{% endif %}{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data: [{% for option in values.options %}{% if forloop.first %}{{option.postproc}}{% else %},{{option.postproc}}{% endif %}{% endfor %}],
                    backgroundColor: colors,
                    borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    circumference: Math.PI,
                    animation: {
                            animateScale: true,
                            animateRotate: true
                        },
                    rotation: -Math.PI
                }
            });
            </script>
        {% endwith %}
    {% endfor %}

    {% endif %}
    <a href="pdf/" target="_blank">{% trans "Download results as .pdf" %}</a>
    <br/>
    <a href="csv/" target="_blank">{% trans "Download results as .csv" %}</a>
    <br/>
    <a href="json/" target="_blank">{% trans "Download results as .json" %}</a>
    {% endwith %}

{% endblock %}

