{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <style>
    .titulo {
        margin-top: 100px;
    }
    .image-background {
    height: 40px;
  }
  .respuestas {
    margin-top: 20px;
    margin-left: 25px;
  }
  .respuestas p {
    margin-top: 5px !important;
  }
  .card-action {
    text-align: center;
  }
    </style>
    <h3 class="center-align titulo">{{ voting.name }}</h3><br>

    <div id="login" class="container">
        <div class="row center-align">
            <div class="row">
                <div class="col m2"></div>
                <div class="input-field col m8 s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">{% trans "Email" %}</label>
                </div>
                <div class="col m2"></div>
            </div>
            <div class="row">
                <div class="col m2"></div>
                <div class="input-field col m8 s12">
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">{% trans "Password" %}</label>
                </div>
                <div class="col m2"></div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" onClick="decideLogin()" type="submit" name="action">{% trans "Login" %}
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
    <div id="voting">
        <div class="row">
            
            {% for question in voting.questions %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img class="image-background" src="../../static/images/fondo.jpg" />
                        <a
                        class="btn-floating halfway-fab waves-effect waves-light darkblue"
                        onclick="dictarVoz({{question}})"
                        ><i class="material-icons">record_voice_over</i></a>
                    </div>
                <div class="card-content">
                    <span class="card-title">{{ question.desc }}</span>
                    <form class="respuestas">
                        {% for opt in question.options %}
                        <p>
                            <label for="{{question.number}}{{opt.number}}">
                            <input id="{{question.number}}{{opt.number}}" type="checkbox" class="filled-in" name="question" value={{opt.number}}/>
                            <span>{{opt.option}}</span>
                            </label>
                        </p>
                        {% endfor %}
                    </form>
                </div>
                <div class="card-action">
                    <a class="blue-grey-text darken-5" href="#" onclick="startDictation({{question}})">Responder con voz</a>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
      
      <div id="modal1" class="modal">
        <h4>Speech Synthesis not supported</h4>
        <p>Your browser does not support speech synthesis.</p>
        <p>We recommend you use Google Chrome.</p>
        <div class="action-bar">
          <a
            href="#"
            class="waves-effect waves-green btn-flat modal-action modal-close"
            >Close</a
          >
        </div>
      </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
            function dictarVoz(array) {
                primeraVez = true
                var i;
                for(i = 0; i < array.options.length ; i++) {
                    if (primeraVez) {
                        respuestas = array.options[i].option
                        primeraVez = false
                    } else
                        respuestas = respuestas + ', ' + array.options[i].option
                }
                respuestas += '.'
                texto = 'La pregunta es: ' + array.desc + '.' +  ' Las respuestas son las siguientes: ' + respuestas
                sintentizarVoz(texto)
            }

            function sintentizarVoz(texto) {
              if ("speechSynthesis" in window) {
                var msg = new SpeechSynthesisUtterance();
                var voices = window.speechSynthesis.getVoices();
                msg.voice = voices[0]; /* por defecto (spain opcion 0)*/
                msg.rate = 1;
                msg.pitch = 1;
                msg.text = texto;
          
                msg.onend = function(e) {
                  console.log("Finished in " + event.elapsedTime + " seconds.");
                };
                speechSynthesis.speak(msg);
              } else {
                $("#modal1").openModal();
              }
            }
    </script>
    <script>
            function startDictation(question) {
              if (window.hasOwnProperty("webkitSpeechRecognition")) {
                var recognition = new webkitSpeechRecognition();
          
                recognition.continuous = false;
                recognition.interimResults = false;
          
                recognition.lang = "es-ES";
                recognition.start();
          
                recognition.onresult = function(e) {
                  console.log(e.results[0][0].transcript);
                  responderPreguntaPorVoz(question, e.results[0][0].transcript)
                  recognition.stop();
                };
          
                recognition.onerror = function(e) {
                  recognition.stop();
                };
              }
            }
            function responderPreguntaPorVoz(question, respuestaVoz) {
                respuesta = respuestaVoz.toLowerCase()
                for(i = 0; i < question.options.length; i++) {
                    opcion = question.options[i].option.toLowerCase()
                    if (opcion.indexOf(respuesta) != -1) {
                        id = "#" + question.number + question.options[i].number
                        text = id.replace(/ /g,'')
                        console.log(id)
                        $(text).prop("checked", true)
                    }
                }

            }
          </script>

{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <script>
        ElGamal.BITS = {{ KEYBITS }};
        var bigpk = {
            p: BigInt.fromJSONObject("{{voting.pub_key.p}}"),
            g: BigInt.fromJSONObject("{{voting.pub_key.g}}"),
            y: BigInt.fromJSONObject("{{voting.pub_key.y}}"),
        };

        var token = null;
        var user = null;

        function postData(url, data) {
          // Default options are marked with *
          var fdata = {
            body: JSON.stringify(data),
            headers: {
              'content-type': 'application/json',
            },
            method: 'POST',
          };

          if (token) {
              fdata.headers['Authorization'] = 'Token ' + token;
          }

          return fetch(url, fdata)
          .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                return Promise.reject(response.statusText);
            }
          });
        }

        function decideEncrypt() {
            var msg = document.querySelector("input[name=question]:checked").value;
            var bigmsg = BigInt.fromJSONObject(msg);
            var cipher = ElGamal.encrypt(bigpk, bigmsg);
            return cipher;
        }

        function decideSend() {
            var v = decideEncrypt();
            var data = {
                vote: {a: v.alpha.toString(), b: v.beta.toString()},
                voting: {{voting.id}},
                voter: user.id,
                token: token
            }
            postData("{{store_url}}" + "/store/", data)
              .then(data => {
                alert("{% trans "Conglatulations. Your vote has been sent" %}")
                console.log(v);
              })
              .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
              });
        }

        function decideLogout() {
            var data = { token: token };
            postData("{{auth_url}}" + "/authentication/logout/", data);

            token = null;
            user = null;
            document.cookie = 'decide=;';
            panel('login');
        }

        function decideUser() {
            var data = { token: token };
            postData("{{auth_url}}" + "/authentication/getuser/", data)
              .then(data => {
                user = data;
                panel('voting');
              }).catch(error => {
                alert("{% trans "Error: " %}" + error);
              });
        }

        function decideLogin() {
            var data = {
                email: document.querySelector("#email").value,
                password: document.querySelector("#password").value,
            };
            postData("{{auth_url}}" + "/authentication/login/", data)
              .then(data => {
                document.cookie = 'decide='+data.token+';';
                token = data.token;
                decideUser();
              })
              .catch(error => {
                alert("{% trans "Error: " %}" + error);
                console.error(error);
              });
        }

        function panel(p) {
            switch(p) {
                case 'login':
                    document.querySelector("#voting").style.display = "none";
                    document.querySelector("#login").style.display = "block";
                    break;
                case 'voting':
                default:
                    document.querySelector("#voting").style.display = "block";
                    document.querySelector("#login").style.display = "none";
                    break;
            };
        }

        function init() {
            panel('login');

            var cookies = document.cookie.split("; ");
            cookies.forEach((c) => {
                var cs = c.split("=");
                if (cs[0] == 'decide' && cs[1]) {
                    token = cs[1];
                    decideUser();
                }
            });
        }

        init();
    </script>
</body>
{% endblock %}
