{% load i18n static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Import ajax and jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "decide/css/base.css"%}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        
        <link type="text/css" rel="stylesheet" href="{% static "decide/css/materialize.css"%}"> 
        <!--Import materialize.js-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <title>{% block title %}Decide!{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'decide/img/favicon.png'%}"/>
        <style type="text/css"> 
            .social-icon {
                height: 30px;
                margin-right: 15px;
                margin-top: 16px;
            }
            .admin-icon{
                height: 30px;
                margin-top: 16px;
            }
        </style>
        {% block extrahead %}
        {% endblock %}
      
        <!-- Initialize Materialize JS -->
        <script type="text/javascript">
            function initMaterialize(){
                M.AutoInit();
            } 
      
            $(document).ready(function(){
              $('select').formSelect();
            });
        </script>
    </head>

    <body onload="initMaterialize()">

        <nav class="menu">
                <div class="nav-wrapper blue-grey darken-2">
                        {% if user.is_authenticated %}
                            <div class="userEmail right">
                                <a href="/admin"><img class="left social-icon" src="{% static 'decide/img/django_icon.png'%}"/></a>
                                <i class="material-icons left">account_circle</i>
                                <span> {{ user.email }}</span>
                                <a class="right" href="{% url 'logout' %}"><i class="material-icons right">power_settings_new</i></a>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated == False %}
                            <div class="userEmail right">
                                <a href="{% url 'social:begin' 'google-oauth2' %}"><img class="left social-icon" src="{% static 'decide/img/google_icon.png'%}"/></a>
                                <a href="{% url 'social:begin' 'github' %}"><img class="left social-icon" src="{% static 'decide/img/github_icon.png'%}"/></a>
                                <a href="/admin"><img class="left admin-icon" src="{% static 'decide/img/django_icon.png'%}"/></a>
                                <a href="/authentication/form-login?next={{request.path}}"><i class="material-icons right">send</i></a>
                                <a href="/authentication/signup/"><i class="material-icons right">account_circle</i></a>                                
                            </div>
                        {% endif %}
                        <a href="/" class="brand-logo center">Ganímedes<i class="material-icons right">data_usage</i></a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            {% block menu_options %}
                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                                    <div class="col s12 language1">
                                        <select class="browser-default" name="language" onchange="this.form.submit()">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% for lang in LANGUAGES %}
                                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected disabled hidden {% endif %}>
                                                {{ lang.1 }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </li>
                            <li><a href="/booth/3/">Booth</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            {% endblock %}
                        </ul>
                </div>
        </nav>
    
       
        
        <style>
        .language {
            width:115px;
        }
        .language1 {
            margin-top:10px !important;
        }
        .language2 {
            opacity:0.9 !important;
            border-radius: 6px !important;
        }
        
        </style>
         
            
        <script type="text/javascript" src="{% static "decide/js/materialize.js"%}"></script>
        
        <div class="body">
            {% block content %}
            {% endblock %}

            {% block extrabody %}

            {% endblock %}
        </div>
        <div class="decideFooter">
            <footer class="page-footer blue-grey darken-2">
                    <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">Information.</p>
                        </div>
                    </div>
                    </div>
                    <div class="footer-copyright">
                    <div class="container">
                    © 2018 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                    </div>
            </footer> 
        </div>  
    </body>
</html>