{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Import ajax and jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "decide/css/base.css"%}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        
        <link type="text/css" rel="stylesheet" href="{% static "decide/css/materialize.css"%}"> 
        <!--Import materialize.js-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <title>{% block title %}Decide!{% endblock %}</title>
        {% block extrahead %}
        {% endblock %}
      
        <!-- Initialize Materialize JS -->
        <script type="text/javascript">
            function initMaterialize(){
                M.AutoInit();
            } 
      
            $(document).ready(function(){
              $('select').formSelect();
            });
        </script>
          
    </head>

    <body onload="initMaterialize()">
        
        <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">Español</a></li>
                <li><a href="#!">Inglés</a></li>
                <li class="divider"></li>
                <li><a href="#!">Catalán</a></li>
        </ul>

        <nav class="menu">
                <div class="nav-wrapper teal darken-3">
                    <a href="#" class="brand-logo right">Ganímedes</a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            {% block menu_options %}
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Idioma<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a href="sass.html">Link 1</a></li>
                            <li><a href="badges.html">Link 2</a></li>
                            <li><a href="collapsible.html">Link 3</a></li>
                            {% endblock %}
                        </ul>
                </div>
        </nav>

        <!-- <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <div class="selectLanguage">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ lang.1 }} ({{ lang.0 }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Go" />
        </form> -->
         
        <script type="text/javascript" src="{% static "decide/js/materialize.js"%}"></script>


        <div class="body">
            {% block content %}
            {% endblock %}

            {% block extrabody %}

            {% endblock %}
        </div>
        <footer class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">Footer Content</h5>
                      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                  © 2014 Copyright Text
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                  </div>
                </div>
        </footer>   
    </body>
</html>
