{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "decide/css/base.css"%}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        
        <link type="text/css" rel="stylesheet" href="{% static "decide/css/materialize.css"%}"> 
        <!--Import materialize.js-->
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8" />
        <title>{% block title %}Decide!{% endblock %}</title>
        {% block extrahead %}
        {% endblock %}

        <!-- Initialize Materialize JS -->
        <script>
            function initMaterialize(){
                M.AutoInit();
            } 
        </script>
    </head>
    <body onload="initMaterialize()">
        
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            
        <select name="language" class="browser-default">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ lang.1 }} ({{ lang.0 }})
                    </option>
                {% endfor %}
            </select>
        
            <input type="submit" value="Go" />
          </form>
         
        <script type="text/javascript" src="{% static "decide/js/materialize.js"%}"></script>
        <nav class="menu">
            <div class="nav-wrapper blue-grey darken-2">
                <a href="#" class="brand-logo center">Ganímedes</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% block menu_options %}
                        {% endblock %}
                    </ul>
                </div>
            </nav>
        <div class="body">
            {% block content %}
            {% endblock %}

            {% block extrabody %}{% endblock %}
        </div>
        
    </body>
</html>
