{% extends 'base.html' %}

{% block title %}{% endblock %}
  
{% block content %}

    
<div class="parallax-container">
    <div class="parallax"><img src="static/decide/img/3406.jpg" alt="My image"/></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Bienvenido</h2>
        <a class="waves-effect waves-light btn-small" href="#"><i class="material-icons right">account_circle</i>Sign in</a>
        <a class="waves-effect waves-light btn-small" href="authentication/nuevo-usuario/"><i class="material-icons right">account_circle</i>Sign up</a>
    </div>
  </div>  
        <br>
        <br>
  <div class="parallax-container">
    <div class="parallax"><img src="static/decide/img/fondo-degradado.jpg"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>

{% endblock %}