{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Creación de censos mediante filtros{% endblock %}

{% block content %}

 <div class="container">
  <nav>
    <div class="nav-wrapper row teal darken-3">
      <div class="col s12">
        <div class="col s12"><a href="/" class="breadcrumb">Home</a>
        <a href="{% url 'listCensus' %}" class="breadcrumb">Census</a>
      </div>
      </div>
    </div>
  </nav>

    <div>
        <h4>Censando votantes en una votación</h4>

        <div>
            <form action="{% url 'addCustomCensus' %}" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label>{{ form.voting.label }}</label>{{ form.voting }}</td>
                    </tr>
                </table>
                <h5>Filtrado</h5>
                <table>
                    <tr>
                        <td colspan="2"><label>{{ form.sex.label }}</label>{{ form.sex }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label>{{ form.city.label }}</label>{{ form.city }}</td>
                    </tr>
                    <tr>
                    <div class="datepicker">
                        <td><label>{{ form.age_initial_range.label}}</label>{{ form.age_initial_range }}</td>
                    </div>
                    <div class="datepicker">
                        <td><label>{{ form.age_final_range.label }}</label>{{ form.age_final_range }}</td>
                    </div>
                    </tr>
                </table>
                <br/>
                <button class="btn waves-effect waves-light" type="submit" value="Submit">{% trans "Create census" %}<i class="material-icons right">send</i></button>
            </form>
            <br/><br/>
        </div>

    </div>
</div>    

{% endblock %}