{% extends 'base.html' %}

{% block title %}Creación de censos mediante filtros{% endblock %}

{% block content %}

<a href="/admin/logout" class="waves-effect waves-light btn">Log out</a>
  <br><br>
  <nav>
    <div class="nav-wrapper">
      <div class="col s1">
        <a href="{% url 'listCensus' %}" class="breadcrumb">Census</a>
        <a href="" class="breadcrumb">{% trans 'Add custom census' %}</a>
      </div>
    </div>
  </nav>

    <div>
        <h4>Censando votantes en una votación</h4>

        <div>
            <form action="{% url 'addCustomCensus' %}" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label>{{ form.voting.label }}</label>{{ form.voting }}</td>
                    </tr>
                </table>
                <h5>Filtrado</h5>
                <table>
                    <tr>
                        <td colspan="2"><label>{{ form.sex.label }}</label>{{ form.sex }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label>{{ form.city.label }}</label>{{ form.city }}</td>
                    </tr>
                    <tr>
                        <td><label>{{ form.age_initial_range.label}}</label>{{ form.age_initial_range }}</td>
                        <td><label>{{ form.age_final_range.label }}</label>{{ form.age_final_range }}</td>
                    </tr>
                </table>
                <br/>
                <input type="submit" value="Submit">
            </form>
            <br/><br/>
        </div>

    </div>
{% endblock %}