{% extends 'base.html' %}
{% load i18n static %}
{% include 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}

{% block content %}
  
  <a href="/admin/logout" class="waves-effect waves-light btn">Log out</a>
  <br><br>
  <nav>
    <div class="nav-wrapper">
      <div class="col s1">
        <a href="{% url 'listCensus' %}" class="breadcrumb">Census</a>
      </div>
    </div>
  </nav>

    <div class="nav-wrapper">    
      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div id="searchbar">
      {{ cl.formset.management_form }}
      </div>
      {% endif %}
      </form>
        </div>
      </form>
    </div>
  
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
    <br>
    <br>
{% endif %}

<br>
<br>
<a href="{% url 'passVotings' %}" class="waves-effect waves-light btn">{% trans 'Add census with filters' %}</a> <a href="{% url 'addCustomCensus' %}" class="waves-effect waves-light btn">{% trans 'Add custom census' %}</a> <a href="{% url 'exportCSVView' %}" class="waves-effect waves-light btn">{% trans 'Export census' %}</a> <a href="{% url 'importCSVView' %}" class="waves-effect waves-light btn">{% trans 'Import census' %}</a><br>
<br>

<table class="centered">
        <thead>
          <tr>
              <th>{% trans 'Voting' %}</th>
              <th>{% trans 'Voters' %}</th>
              <th>{% trans 'Edit' %}</th>
              <th>{% trans 'Delete' %}</th>
          </tr>
        </thead>
        <tbody>


        {% for object in cl.result_list %}
        <tr>
        <td>{{ object.voting_id }}</td>
        <td><a href="{% url 'viewVoters' %}?voting_id={{ object.voting_id }}" class="waves-effect waves-light btn">{% trans 'View Voters' %}</a></td>
        <td><a href="{{ object.id }}/change" class="waves-effect waves-light btn">{% trans 'Edit census' %}</a></td>
        <td><a href="{{ object.id }}/delete/" class="waves-effect waves-light btn">{% trans 'Delete census' %}</a></td>
        </tr>

        {% endfor %}

          
        </tbody>
      </table>

{% endblock %}