{% extends 'base.html' %}
{% load i18n static %}
{% include 'admin/object_history.html' %}

{% block content %}
  
  
  <a href="/admin/logout" class="waves-effect waves-light btn">Log out</a>
  <br><br>
  <nav>
    <div class="nav-wrapper">
      <div class="col s1">
        <a href="/admin" class="breadcrumb">Home
        <a href="/admin/census/census" class="breadcrumb">Census</a>
        <a href="" class="breadcrumb">{{object}}</a>
      </div>
    </div>
  </nav>
  <br>
  <br>
<h5>{% trans 'History' %}</h5>
  
{% if action_list %}
    <table class="centered">
        <thead>
        <tr>
            <th>{% trans 'Date/time' %}</th>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
        <tr>
            <th>{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
            <td>{{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
            <td>{{ action.get_change_message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
{% endif %}
<br>
<br>
<a href="/admin/census/census" class="waves-effect waves-light btn">{% trans 'Back' %}</a>  

{% endblock %}