{% extends 'base.html' %}
{% load i18n static %}
{% include 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}

{% block content %}
  
  <a href="/admin/logout" class="waves-effect waves-light btn">Log out</a>
  <br><br>
  <nav>
    <div class="nav-wrapper">
      <div class="col s1">
        <a href="{% url 'listCensus' %}" class="breadcrumb">Census</a>
        <a href="" class="breadcrumb">{% trans 'Export Census' %}</a>
      </div>
    </div>
  </nav>

    <div class="nav-wrapper">    
      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div id="searchbar">
      {{ cl.formset.management_form }}
      </div>
      {% endif %}
      </form>
        </div>
      </form>
    </div>
  
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
    <br>
    <br>
{% endif %}

<div>
  <h4>Exportar CSV</h4>
  Haga clic para exportar todos los censos existentes en el sistema en un solo archivo.
  <br>
  <br>
  <button onclick="window.location='{% url 'exportCSV' %}'"
  title="Exportar CSV" class="waves-effect waves-dark btn">
  Exportar CSV
  </button>

</div>

{% endblock %}