{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Nuevo usuario{% endblock %}

{% block content %}

    <h1>{% trans "Sign up a new user" %}</h1>
    <form id='formulario' method='post' action=''>
        {% csrf_token %}
        <table>{{formulario}}</table>
        <button class="btn waves-effect waves-light teal" type="submit" name="action" >{% trans 'Submit' %}
        </button>
        <a class="waves-effect waves-light btn-small teal" href="{% url 'social:begin' 'google-oauth2' %}"><i class="material-icons right">account_circle</i>{% trans 'Log in with Google' %}</a>
        <a class="waves-effect waves-light btn-small teal" href="{% url 'social:begin' 'github' %}"><i class="material-icons right">account_circle</i>{% trans 'Log in with Github' %}</a><br>
    </form>
{% endblock %}