{% extends "base.html" %}
{% load i18n static %}

{% block content %}

    <h1>sign up</h1>
    <div id="signup">
      <label for="username">{% trans "Username" %}</label>
      <input type="text" id="username" name="username" value=""/>
      <br/>
      <label for="password">{% trans "Password" %}</label>
      <input type="password" id="password" name="username" value=""/>
      <br/>
      <input type="submit" value="{% trans "Submit" %}" onClick="decideSignUp()"/>
    </div>
    <div id="exits" style="display:none;">User already exits</div>
    <div id="saved" style="display:none;">saved</div>
    <div id="error" style="display:none;">error</div>
{% endblock %}
{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>
<script>

  var token = null;
  var user = null;
  
  {% get_current_language as LANGUAGE_CODE %}

  function decideSignUp() {
      var data = {
        username: document.querySelector("#username").value,
        password: document.querySelector("#password").value,
          
      };
      postData("{{auth_url}}" + '/{{LANGUAGE_CODE}}' + "/authentication/login/", data)    
      .then(data => {
        
          token = data.token;
        
        decideUser();//logged
      })
      .catch(error => {
        
        
        save();//no logged
        });
  }
  function save() {
    var data = {
        username: document.querySelector("#username").value,
        password: document.querySelector("#password").value,
          
      };
    postData("{{auth_url}}" + '/{{LANGUAGE_CODE}}' + "/authentication/save/", data)
      .then(data => {
        user = data;
        panel('saved');
      }).catch(error => {
        panel('error');;
      });       
  }
  function decideUser() {//logged
    var data = { token: token };
    postData("{{auth_url}}" + '/{{LANGUAGE_CODE}}' +"/authentication/getuser/", data)
      .then(data => {
        user = data;
        panel('exits');
      }).catch(error => {
        panel('error');;
      });
  }

  function panel(p) {
    switch(p) {
        case 'exits':
            document.querySelector("#error").style.display = "none";
            document.querySelector("#signup").style.display = "none";
            document.querySelector("#saved").style.display = "none";
            document.querySelector("#exits").style.display = "block";
            break;
        case 'saved':
            document.querySelector("#error").style.display = "none";
            document.querySelector("#signup").style.display = "none";
            document.querySelector("#saved").style.display = "block";
            document.querySelector("#exits").style.display = "none";
            break;
        case 'error':
        default:
            document.querySelector("#signup").style.display = "block";
            document.querySelector("#saved").style.display = "none";
            document.querySelector("#exits").style.display = "none";
            document.querySelector("#error").style.display = "block";
            break;
    };
  }
  function postData(url, data) {
            // Default options are marked with *
            var fdata = {
              body: JSON.stringify(data),
              headers: {
                'content-type': 'application/json',
              },
              method: 'POST',
            };

            if (token) {
                fdata.headers['Authorization'] = 'Token ' + token;
            }

            return fetch(url, fdata)
            .then(response => {
              if (response.status === 200) {
                  return response.json();
              } else {
                  return Promise.reject(response.statusText);
              }
            });
          }
</script>

{% endblock %}